<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ base_path() }}/css/app.css">

    <title>Portfolio Admin</title>
</head>

<body>

<script src="{{ base_path() }}/js/app.js"></script>
</body>
</html>